* 
{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body 
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;

}

#main-content 
{
    width: 100%;
    height: auto;
    position: relative;
    display: none;
}

#loader
{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 14%;
    left: 40%;
    right: 0;
    background: url('../images/1.gif') no-repeat;
    background-size: 350px 350px;

}

.header 
{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px;
    background-color: lightblue;
    display: flex;
    flex-direction: row;

}
.logo 
{
    width: 30%;
    height: auto;
    margin-left: 5%;
    padding: 5px;
}
.search
{
    width: 50%;
    height: auto;
    margin-left: 1%;
    padding: 5px;
}
.search input 
{
    width: 90%;
    height: auto;
    padding: 5px;
}

.social 
{
    width: 20%;
    height: auto;
    padding: 5px;
}

.content 
{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 5%;

}

.content input[type="text"],textarea
{
width: 500px;
height: auto;
padding: 10px;
}

.content input[type="submit"]
{
width: 520px;
height: auto;
padding: 14px;
background-color: blue;
color: white;
border: none;
}


@media only screen and (max-width:510px)
{
    
.header 
{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 5px;
    background-color: lightblue;
    display: flex;
    flex-direction: row;

}
.logo 
{
    width: 25%;
    height: auto;
    margin-left: 0%;
    padding: 5px;
}
.search
{
    width: 40%;
    height: auto;
    margin-left: 0%;
    padding: 5px;
}
.search input 
{
    width: 90%;
    height: auto;
    padding: 5px;
}

.social 
{
    width: 30%;
    height: auto;
    padding: 5px;
}


#loader
{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 20%;
    left: 28%;
    right: 0;
    background: url('../images/1.gif') no-repeat;
    background-size: 250px 250px;

}



}